{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="/static/js/vue.min.js"></script>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

  <div class="container">

    <div id="settings_app">
        <div v-if="alert" class="alert alert-primary" role="alert">

          <div class="row">

            <div class="col-md-12 order-md-1">
              [[alert]]
            </div>
          </div>
        </div>

      <div class="py-5 text-center">
        <h2>Network Config</h2>
      </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          <div class="row">
            <div class="col-sm-3 mb-3">
              <label for="address">IP地址</label>
              <input type="text" class="form-control required" id="address" name="address" placeholder="" v-model="address" required="">
              <div class="invalid-feedback">
                Valid IP Address is required.
              </div>
            </div>


            <div class="col-sm-3 mb-3">
              <label for="mask">子网掩码</label>
              <input type="text" class="form-control required" id="netmask" name="netmask"  v-model="netmask" required="">
              <div class="invalid-feedback">
                Valid netmask value is required.
              </div>
            </div>

            <div class="col-sm-3 mb-3">
              <label for="netgate">网关</label>
              <input type="text" class="form-control required" id="gateway" name="gateway" v-model="gateway" required="">
              <div class="invalid-feedback">
                Valid netgate value is required.
              </div>
            </div>

            <div class="col-sm-3 mb-3">
              <label for="netgate">DNS</label>
              <input type="text" class="form-control required" id="dns" name="dns" v-model="dns" required="">
              <div class="invalid-feedback">
                DNS netgate value is required.
              </div>
            </div>
          </div>
          <button v-on:click="setNetworkConfig" class="btn btn-primary btn-lg btn-block">更新网络设置</button>
          <!-- </form> -->
        </div>
      </div>


      <div class="py-5 text-center">
        <h2>Hardware Config</h2>
      </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          <div class="row">
            <div class="col-sm-4 mb-4">
              <label for="module_amount">模块数量</label>
              <input type="text" class="form-control required" id="module_amount" name="module_amount" placeholder="" v-model="module_amount" required="">
              <div class="invalid-feedback">
                Valid number is required.
              </div>
            </div>


            <div class="col-sm-4 mb-4">
              <label for="u_count">模块长度(U位数)</label>
              <input type="text" class="form-control required" id="u_count" name="u_count"  v-model="u_count" required="">
              <div class="invalid-feedback">
                Valid number is required.
              </div>
            </div>

            <div class="col-sm-4 mb-4">
              <label for="temp_amount">温湿度个数</label>
              <input type="text" class="form-control required" id="temp_amount" name="temp_amount" v-model="temp_amount" required="">
              <div class="invalid-feedback">
                Valid number is required.
              </div>
            </div>

          </div>
          <button v-on:click="setHardwareConfig" class="btn btn-primary btn-lg btn-block">更新硬件设置</button>
         <!-- </form> -->
        </div>
      </div>


      <div class="py-5 text-center">
        <h2>上位机设置</h2>
      </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          <div class="row">


            <div class="col-sm-4 mb-4">
              <label for="host">上位机地址(ip:port)</label>
              <input type="text" class="form-control required" id="host" name="host" placeholder="" v-model="host" required="">
              <div class="invalid-feedback">
                valid ip:port is needed.
              </div>
            </div>

            
            <div class="col-sm-4 mb-4">
              <label for="status">接收U位数据的api</label>
              <input type="text" class="form-control required" id="status" name="status" placeholder="/status" v-model="status" required="">
              <div class="invalid-feedback">
                Valid api is needed.
              </div>
            </div>

            
            <div class="col-sm-4 mb-4">
              <label for="temp">接收温湿度数据url</label>
              <input type="text" class="form-control required" id="temp" name="temp" placeholder="/temp" v-model="temp" required="">
              <div class="invalid-feedback">
                Valid api is needed.
              </div>
            </div>

          </div>
          <button v-on:click="setUpstreamConfig" class="btn btn-primary btn-lg btn-block">更新上位机设置</button>
         <!-- </form> -->
        </div>
      </div>



  </div>
</main>
{% end %}

{% block extraJS %}
<script src="/static/js/vue_settings.js" type="text/javascript"></script>
{% end %}